.wrapper {
    flex: 1 0 auto;
    max-width: 100%;
    width: 1024px;
}

.innerWrapper {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

.title {
    margin-bottom: 20px;
}

.paragraph {
    max-width: 600px;
}
