.wrapper {
    flex: 1 0 auto;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

.titleWrapper {
    width: 100%;
    max-width: 1024px;
    min-width: 800px;
}
